<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup>
      <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6"/>
    </startup>
  <connectionStrings>
    
  <add name="ProdServerConnection" connectionString="Data Source=DCAP8SQLDEV01;Initial Catalog=SAIABOLMaster_UAT;User ID=boladmin;Password=bolSIocr@65;Connect Timeout=30"/>
    
  <!--  <add name="ProdServerConnection" connectionString="Data Source=BOLDBLSTNR;Initial Catalog=SAIABOLMaster;User ID=boladmin;Password=Krystal1;Connect Timeout=30"/>-->
    
    <add name="AS400DBConnString" connectionString="Driver={iSeries Access ODBC Driver};System=SAIAPROD;UID=BOTBOLOCR;PWD=saia789$;Naming=1;DBQ=*USRLIBL;Compression=1;"/>
    
   <!--<add name="AS400DBConnString" connectionString="Driver={iSeries Access ODBC Driver};System=SAIATEST;UID=BOTBOLOCR;PWD=saia789$;Naming=1;DBQ=*USRLIBL;Compression=1;"/>-->
    
  </connectionStrings>
  <appSettings>
    <add key="AppConfigPath" value="C:\BOL_Config\Config.txt" />
    <add key="ExpansionFactorTableName" value="ExpansionFactor"/>
    <add key="KM2TableName" value="KM2Table2"/>
    <add key="LogFolderName" value="DataExtractionService2"/>  
    <add key="InstanceId" value="2"/>
    <add key="BillingStatus" value="P"/>
  </appSettings>
</configuration>
